<div *ngIf="!detailsReady" class="flex justify-center items-center h-screen">
  <div
    class="w-16 h-16 border-t-4 border-blue-500 border-solid rounded-full animate-spin"
  ></div>
</div>
<div *ngIf="detailsReady">
  <ul role="list" class="divide-y divide-gray-100">
    <li class="flex justify-between gap-x-6 py-5">
      <div class="flex min-w-0 gap-x-4">
        <div class="min-w-0 flex-auto">
          <p class="text-lg font-semibold leading-6 text-gray-900">
            Details Bitcoin
          </p>
          <p class="mt-1 truncate text-md leading-5 text-gray-800">
            Price USD: {{ detailsData.priceUsd | number }}
            <br />
            Price COP: {{ priceBitcoinCop | number }}
            <br />
            Price EUR: {{ priceBitcoinEur | number }}
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
